{% extends "layout.html" %}
{% include "includes/nav.html" %}
{% block content %}
<main>
    <section class="background">

        <section id="page_body">
            <section class="art1">
                <div>
                    <h1>G & S Automotive</h1>
                    <p id="paragraph">This is a mock vehicle buy and sell company made from the ground up by Eric Greilich and Kenneth Slack. The site allows for customers to seamlessly browse different listed vehicles as well as list a vehicle that they may have for sale. We pride ourselves on the ingenuity of our site being aesthetically pleasing as well as functional. We hope that you find everything that you are looking for on our site. Happy shopping!  </p>
                </div> 
            
        </section>

    </section>
</main>

{% endblock %}