{% extends "layout.html" %}

{% block content %}

<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ url_for('file' ,filename=picname) }}" class="rounded mx-auto d-block" style="width: 700px; height: auto">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('file' ,filename=picname1) }}" class="rounded mx-auto d-block" style="width: 700px; height: auto">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('file' ,filename=picname2) }}" class="rounded mx-auto d-block" style="width: 700px; height: auto">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




<h1>Current Listing</h1>
<p> Make: {{ make }} </p> <br>
<p> Model: {{ model }} </p> <br>
<p> Description: {{ description }} </p> <br>
<p> Price: ${{ price }} </p> <br>

{% if session['username'] %}
<a href="{{url_for('saved')}}">Return to Saved Vehicles</a> <br><br>
{% endif %}
<a href="{{url_for('cars')}}">More Listings</a>


{% endblock %}