{% extends "layout.html" %}
{% include "includes/nav.html" %}
{% block content %}

<main>
    <section class="background">
        <section id="page_body">
            <section class="art1">
            <form  name="login" method="post" action="" >
                {{form.hidden_tag()}}
                    <div>
                        <h2>Customer Login</h2>
                    </div>
                    
                    <div class="email">
                        <label for="email">{{form.email.label}}</label><br>
                        <p>{{form.email}}
                    </div>

                    
                    <div class="password">
                        <label for="pass1">{{form.password.label}}</label><br>
                        {{form.password}}
                    </div>
                    <p>{{form.submit}}</p>

                    
                 </section>
                </form>
                
    <footer>
        <h3>All images are copyright to their owners. This is just a hypothetical site @ 2022 Copyright G & S Automotive</h3>
    </footer>
    </section>
    </section>
    
</main>


{% endblock %}
