{% extends "layout.html" %}
{% include "includes/nav.html" %}
{% block content %}
<main class="index">
    <div>
        {% if not cars %}
            <h1> You have no saved vehicles!</h1>
        {% else %}
            <h1>Your Saved Vehicles</h1>



        <table id="customers">
            <thead>
            <tr>
                <th scope="col">Make</th>
                <th scope="col">Model</th>
                <th scope="col">Price</th>
                <th scope="col">Year</th>
                <th scope="col">Action</th>
                <th scope="col">Remove</th>
            </tr>
            </thead>
            <tbody>

            <!-- Construct the rest of courses here -->
            {% for car in cars %}
            <tr>
                <td scope='row'>{{car.r2["make"]}}</td>
                <td>{{car.r2["model"]}}</td>
                <td>{{car.r2["price"]}}</td>
                <td>{{car.r2["year"]}}</td>

                <td>
                    <form action ="{{ url_for('carlistings') }}" method="POST">
                        <input type="hidden" name="make" value="{{car.r2['make']}}">
                        <input type="hidden" name="model" value="{{car.r2['model']}}">
                        <input type="hidden" name="price" value="{{car.r2['price']}}">
                        <input type="hidden" name="description" value="{{car.r2['description']}}">
                        <input type="hidden" name="picname" value="{{car.r2['picname']}}">
                        <input type="hidden" name="picname1" value="{{car.r2['picname1']}}">
                        <input type="hidden" name="picname2" value="{{car.r2['picname2']}}">

                    <button>View</button>
                    </form>
                </td>
                <td>
                    <form action ="{{ url_for('remove') }}" method="POST">
                        <input type="hidden" name="car_id" value="{{car.r2['car_id']}}">
                        <input type="hidden" name="picname" value="{{car.r2['picname']}}">
                        <input type="hidden" name="picname1" value="{{car.r2['picname1']}}">
                        <input type="hidden" name="picname2" value="{{car.r2['picname2']}}">
                    <button>Remove</button>
                    </form>
                </td>

            </tr>
            {% endfor %}
            
            </tbody>
        </table>
        {% endif %}
    </div>
</main>


{% endblock %}
