
.btn-purple{background-color:#800080;color: #FFF;}
.btn-purple:hover{color: #000;}
.current{background-color: #800080}

input[type=text], input[type=password]{
    width:50%;
    padding: 7px;
    /* margin: 5px 0 22px 0; */
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.user{
    float: right;
    position: absolute;
    font-size: 20px;
    right: 3em;
    top: 4em;
}

/* Kenneth Code */
 
#navbar1
{
    background-color: rgba(7, 5, 122, 0.884);
    padding-left: 5%;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    /* box-shadow: 0px 10px 50px 1px rgba(7, 5, 122, 0.884); */

}
#navbar1 li
{
   display: inline-block;
}
#navbar1 li a
{
   text-decoration: none;
   font-size: 25px;
   color: rgba(255, 255, 255, 0.966); /*rgba(255, 255, 255, 0.808)*/
   padding-right: 60px;
   margin-right: 80px;
   
}

div a
{
  display: inline-block;
  background-color: #d80202d5; /*#51279b*/
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase; 
  box-shadow: 6px 5px 20px 1px rgba(0, 0, 0, 0.616);
}

div h1
{
   font-size: 60px;
   text-shadow: 4px 2px 4px #d80202d5;

}

main{
   background-image: url('/static/images/car5.PNG');
   background-size: cover;
   width: 100%;
   min-height: 800px;
}
.index{
   background-image: url('/static/images/car5.PNG');
   background-size: cover;
   width: 100%;
   min-height: 800px;
   /* margin-top: -5%; */
   padding-top: 1px;
}

.title
{
   text-align: center;
   margin-top: 60px;
}
.row
{
    background-image: url("/static/images/carbonfiber6.PNG");
    color: rgba(255, 255, 255, 0.966);
    padding-top: 5px;
    background-size: cover;
    min-height: 800px;
    margin-left: 21%;
    margin-right: 21%;
    padding-left: 30px;
    padding-right: 30px;

}








/*---------------------------------------------------------------------*/
/*------------------------------My account------------------------------*/

#page_body
{
    min-height: 800px;
    /* text-align: center; */
    padding-left: 30px;
    color: rgba(255, 255, 255, 0.966);
}

main footer
{
    color: rgba(255, 255, 255, 0.966);
    text-align: center;
    font-size: 10px;
}


input[type=text]
{
   margin-right: 50px;
   margin-bottom: 10px
}
input[type=email]
{
   width: 46%;
   margin-bottom: 10px;
}
input[type=password]
{
   margin-right: 50px
}
input[type=date]
{
   margin-bottom: 10px;
}

.background
{
    background-image: url("/static/images/carbonfiber6.PNG");
    padding-top: 5px;
    background-size: cover;
    margin-left: 21%;
    margin-right: 21%;
}
.backgroundlist
{
    background-image: url("/static/images/carbonfiber6.PNG");
    padding-top: 5px;
    background-size: cover;
    margin-left: 0%;
    margin-right: 0%;
}


.names
{
   display: inline-block;
}
.password
{
   display: inline-block;
}

input[type=address]
{
   width: 46%;
}

.location
{
   display: inline-block;
}
.global
{
   display: inline-block;
}
.info
{
   display: inline-block;
   margin-right: 100px;
}
.interest
{
   display: inline-block;
}
input[type=range]
{
   width: 30%;
}
main footer
{
    color: rgba(255, 255, 255, 0.966);
    text-align: center;
    font-size: 10px;
}
h3 {
   display: block;
   font-size: 1.17em;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: bold;
}
.alert {
   padding: 15px;
   margin-bottom: 0px;
   border: 1px solid transparent;
   border-radius: 4px;
 }
 
 .alert h4 {
   margin-top: 0;
   color: inherit;
 }
 
 .alert .alert-link {
   font-weight: bold;
 }
 
 .alert > p,
 .alert > ul {
   margin-bottom: 0;
 }
 
 .alert > p + p {
   margin-bottom: 0px;
    position: absolute;
    top: -10px;
 }
 
 .alert-dismissable,
 .alert-dismissible {
   padding-right: 35px;
 }
 
 .alert-dismissable .close,
 .alert-dismissible .close {
   position: relative;
   top: -2px;
   right: -21px;
   color: inherit;
 }
 
 .alert-success {
   background-color: #dff0d8;
   opacity: initial;
   border-color: white;
   color: #3c763d;
   position: absolute;
   top: 71px;
   width: 1214px;
}
 
 .alert-success hr {
   border-top-color: #c9e2b3;
 }
 
 .alert-success .alert-link {
   color: #2b542c;
 }
 
 .alert-info {
   background-color: #d9edf7;
   border-color: #bce8f1;
   color: #31708f;
 }
 
 .alert-info hr {
   border-top-color: #a6e1ec;
 }
 
 .alert-info .alert-link {
   color: #245269;
 }
 
 .alert-warning {
   background-color: #fcf8e3;
   border-color: #faebcc;
   color: #8a6d3b;
 }
 
 .alert-warning hr {
   border-top-color: #f7e1b5;
 }
 
 .alert-warning .alert-link {
   color: #66512c;
 }
 
 .alert-danger {
   background-color: #f2dede;
   border-color: #ebccd1;
   color: #a94442;
 }
 
 .alert-danger hr {
   border-top-color: #e4b9c0;
 }
 
 .alert-danger .alert-link {
   color: #843534;
 }
 #customers {
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
 }
 
 #customers td, #customers th {
   border: 1px solid #ddd;
   padding: 8px;
 }
 
 /* #customers tr:nth-child(even){background-color: #f2f2f2;} */
 
 #customers tr:hover {background-color: #ddd;}
 
 #customers th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: rgba(7, 5, 122, 0.884);
   color: white;
 }
 .listing{
   color:white
 }
 .plist{
   color:white;
 }

/* add your code */

