
    <nav id="navbar1">
      <ul>
          <!-- <li><a href="#">Browse Vehicles</a></li> -->
          
          <li><a href="{{url_for('index')}}">Home</a></li>
          
          <li><a href="{{url_for('saved')}}">Saved Vehicles</a></li>

          {% if not session['username'] %}
          <li><a href="{{url_for('register')}}">Create Account</a></li>
          {% endif %}
          {% if not session['username'] %}
          <li><a href="{{url_for('login')}}">Log In</a></li>
          {% else %}
          <li><a href="{{url_for('logout')}}">Logout</a></li>
          {% endif %}
      </ul>
    </nav>  